#APP
APP_NAME=unighana
NODE_ENV=development
PORT=8888

#DATABASE
DB_DEVELOPMENT_PORT=5432
DB_DEVELOPMENT_DIALECT=postgres
DB_DEVELOPMENT_USER=
DB_DEVELOPMENT_HOST=127.0.0.1
DB_DEVELOPMENT_PASSWORD=
DB_DEVELOPMENT=

DB_TEST_PORT=5432
DB_TEST_DIALECT=postgres
DB_TEST_USER=
DB_TEST_HOST=127.0.0.1
DB_TEST_PASSWORD=
DB_TEST=

DB_PORT=5432
DB_DIALECT=postgres
DB_USER=
DB_HOST=127.0.0.1
DB_PASSWORD=
DB=

JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES=15s

JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_ALGORITHM=HS256
JWT_REFRESH_TOKEN_EXPIRES=1d
